

<!-- 
<div class="modal-dialog modal-md" style="margin-top: 295px"> -->

 <div class="modal-content" height="300px;">
	<div class="modal-body" style="background-color: {{note.color}}";>
		<div class="form-group" >
		<div>
	 <a>
		<img ng-src="{{note.noteImage}}"
				style="width: 100%" /></a> 
				
			<div id="notetitle" data-text="title" contenteditable="true"
				ng-model="note.title" ng-change="updateNotes(note)" style="height: 35px;font-size:16px"></div>
				
			<div id="noteDescription" data-text="Take a note..."
				contenteditable="true" ng-model="note.description"
				ng-change="updateNotes(note)" style="height: 35px;font-size:16px"></div>

			<div class="moreOptions">
				<div class="dropdown" style="float: left">
					<div class="dropdown inline">

						<!-- INPUT REMINDER -->
						
						<span class="btn dropdown-toggle" id="menu2"
							data-toggle="dropdown"> <img alt="reminder"
							src="image/reminder.svg" height="17px">
						</span>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
							<li><input type="text" ng-attr-id="datepicker{{note.id}}"
								class="reminder"></li>
							<li>
								<button ng-click="openReminder(note)">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</li>
						</ul>


						<!-- ADD COLLABORATOR -->
						
							<img src="images/collaborator.svg"  height="25px">
						
						<!-- ADD COLORS WITH COLORPALLETES -->
						
						<div class="btn-group dropup colorDiv" uib-dropdown>
							<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown"
								alt="color" src="images/colorpallet.svg" uib-dropdown-toggle
								height="20px">
							<ul class="dropdown-menu" uib-dropdown-menu role="menu"
								aria-labelledby="btn-append-to-body"
								style="background-color: #f9fbff">
								<a ng-repeat="color in colors" role="menuitem"> <img
									ng-src="{{color.path}}" height="25px" note.noteUrls
									ng-click="note.color =color.color; updateNotes(note)">
								</a>
							</ul>
						</div>

						<!-- ADD IMAGE -->
						<img alt="image" src="images/image.svg" height="20px"
							aria-label="Image Upload" ng-click="openImageUploader(note)">

						<!-- ADD ARCHIVE -->
						
						<span ng-click="addToArchive(note)"> <img alt="archive"
							src="images/archive.svg" height="20px">
						</span>

						<!-- ADD MORE OPTIONS -->
						
						<div style="float: left">
							<span class="btn dropdown-toggle" id="menu1"
								data-toggle="dropdown"> <span
								class="glyphicon glyphicon-option-vertical"></span>
							</span>
							<ul class="dropdown-menu multi-level" role="menu"
								aria-labelledby="menu1">

							
					<li><a data-ng-click="addToTrash(note)">Trash</a></li>
					
					
				<!-- 	SOCIAL SHARE -->
					
					<li><a data-ng-click="fbShareInit(note)">Share</a></li>
				
				</ul>
							</ul>

						</div>
					</div>
				</div>

			</div>

			<div style="float: right;padding-top: 145px;height: 20px;">
						<button role="button" style="margin-bottom: 10px"class="btn btn-default" ng-click="updateNotes(note)">DONE</button>
					</div>
				</div>
			</div>
		</div>
		</div>
	
</div>